<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="min-h-full">
      <nav class="border-b border-gray-200 bg-white">
        <!-- Desktop -->
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 justify-between">
            <div class="flex">
              <div class="flex shrink-0 items-center">
                <a href="/">
                  <img
                    class="block h-8 w-auto lg:hidden"
                    src="https://i.ibb.co.com/2gLgWws/image.png"
                    alt="Your Company"
                  />
                </a>
                <a href="/">
                  <img
                    class="hidden h-8 w-auto lg:block"
                    src="https://i.ibb.co.com/2gLgWws/image.png"
                    alt="Your Company"
                  />
                </a>
              </div>
              <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
                <!-- Navigation Links -->
                <a
                  href="/admin-dash"
                  class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
                  >Dashboard</a
                >
                <a
                  href="#"
                  class="inline-flex items-center border-b-2 border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900"
                  aria-current="page"
                  >Universities</a
                >
              </div>
            </div>
            <div class="hidden sm:ml-6 sm:flex sm:items-center">
              <button
                type="button"
                class="relative rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              >
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">View notifications</span>
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.857 17.082a23.848 23.848 
                     0 005.454-1.31A8.967 8.967 
                     0 0118 9.75V9a6 6 0 
                     10-12 0v.75a8.967 8.967 
                     0 01-2.312 6.022c1.733.64 
                     3.56 1.085 5.455 1.31m5.714 
                     0a24.255 24.255 0 
                     01-5.714 0m5.714 
                     0a3 3 0 11-5.714 0"
                  />
                </svg>
              </button>

              <!-- Profile dropdown -->
              <div class="relative ml-3">
                <div>
                  <button
                    type="button"
                    class="relative flex max-w-xs items-center rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                    id="user-menu-button"
                    aria-expanded="false"
                    aria-haspopup="true"
                  >
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">Open user menu</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6 text-gray-500"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M12 12c2.761 0 5-2.239 
                           5-5S14.761 2 12 2 7 
                           4.239 7 7s2.239 5 5 5zm0 
                           2c-3.33 0-10 1.665-10 
                           5v3h20v-3c0-3.335-6.67-5-10-5z"
                      />
                    </svg>
                  </button>
                </div>

                <!-- Dropdown menu, hidden by default -->
                <div
                  id="user-menu"
                  class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black/5 focus:outline-none hidden"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="user-menu-button"
                  tabindex="-1"
                >
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-0"
                    >Your Profile</a
                  >
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-1"
                    >Settings</a
                  >
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-2"
                    >Sign out</a
                  >
                </div>
              </div>
            </div>
            <div class="-mr-2 flex items-center sm:hidden">
              <!-- Mobile menu button -->
              <button
                type="button"
                class="relative inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                aria-controls="mobile-menu"
                aria-expanded="false"
              >
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <svg
                  class="block h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 
                     6.75h16.5M3.75 12h16.5m-16.5 
                     5.25h16.5"
                  />
                </svg>
                <svg
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 
                  18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>

        <!-- Mobile menu -->
        <div class="sm:hidden" id="mobile-menu">
          <div class="space-y-1 pb-3 pt-2">
            <a
              href="/admin-dash"
              class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800"
              >Dashboard</a
            >
            <a
              href="#"
              class="block border-l-4 border-indigo-500 bg-indigo-50 py-2 pl-3 pr-4 text-base font-medium text-indigo-700"
              aria-current="page"
              >Universities</a
            >
          </div>
          <div class="border-t border-gray-200 pb-3 pt-4">
            <div class="flex items-center px-4">
              <div class="shrink-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-10 w-10 text-gray-500"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    d="M12 12c2.761 0 5-2.239 5-5S14.761 
                    2 12 2 7 4.239 7 7s2.239 5 
                    5 5zm0 2c-3.33 0-10 
                    1.665-10 5v3h20v-3c0-3.335-6.67-5-10-5z"
                  />
                </svg>
              </div>
              <div class="ml-3">
                <div class="text-base font-medium text-gray-800">Tom Cook</div>
                <div class="text-sm font-medium text-gray-500">
                  tom@example.com
                </div>
              </div>
              <button
                type="button"
                class="relative ml-auto shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              >
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">View notifications</span>
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.857 
                     17.082a23.848 23.848 0 
                     005.454-1.31A8.967 8.967 
                     0 0118 9.75V9a6 6 0 
                     10-12 0v.75a8.967 8.967 
                     0 01-2.312 6.022c1.733.64 
                     3.56 1.085 5.455 1.31m5.714 
                     0a24.255 24.255 0 
                     01-5.714 0m5.714 
                     0a3 3 0 11-5.714 0"
                  />
                </svg>
              </button>
            </div>
            <div class="mt-3 space-y-1">
              <a
                href="#"
                class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800"
                >Your Profile</a
              >
              <a
                href="#"
                class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800"
                >Settings</a
              >
              <a
                href="#"
                class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800"
                >Sign out</a
              >
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="py-10">
      <header>
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900">
            Universities & Degrees
          </h1>
        </div>
      </header>
      <main>
        <!-- University -->
        <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
          <div class="px-4 sm:px-6 lg:px-8">
            <div class="sm:flex sm:items-center">
              <div class="sm:flex-auto">
                <h1 class="text-base font-semibold text-gray-900">
                  List of Partner Universities
                </h1>
                <p class="mt-2 text-sm text-gray-700">
                  A list of all foreign universities partnering with ITS for the
                  Informatics Double Degree program.
                </p>
              </div>
              <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
                <button
                  type="button"
                  class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                  id="addUniversityButton"
                >
                  Add University
                </button>
              </div>
            </div>
            <!-- Add University Modal -->
            <div
              id="addUniversityModal"
              class="fixed inset-0 z-50 hidden overflow-y-auto"
            >
              <div
                class="flex items-center justify-center min-h-screen px-4 text-center sm:block sm:p-0"
              >
                <div
                  class="fixed inset-0 transition-opacity"
                  aria-hidden="true"
                >
                  <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                </div>
                <span
                  class="hidden sm:inline-block sm:align-middle sm:h-screen"
                  aria-hidden="true"
                  >&#8203;</span
                >
                <div
                  class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-md w-full"
                >
                  <div class="bg-white px-6 py-5 sm:p-8">
                    <h3
                      class="text-xl font-bold text-gray-900 mb-6 text-center"
                      id="modal-title"
                    >
                      Add University
                    </h3>
                    <form
                      id="addUniversityForm"
                      action="/admin-uni"
                      method="POST"
                    >
                      <input
                        type="hidden"
                        name="action"
                        value="addUniversity"
                      />
                      <div class="mb-4">
                        <label
                          for="name"
                          class="block text-sm font-medium text-gray-700 mb-1"
                          >University Name</label
                        >
                        <input
                          type="text"
                          id="name"
                          name="name"
                          class="mt-0 block w-full rounded-md border border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 text-sm h-10 px-3"
                          placeholder="Enter university name"
                          required
                        />
                      </div>
                      <div class="mb-4">
                        <label
                          for="country"
                          class="block text-sm font-medium text-gray-700 mb-1"
                          >Country</label
                        >
                        <input
                          type="text"
                          id="country"
                          name="country"
                          class="mt-0 block w-full rounded-md border border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 text-sm h-10 px-3"
                          placeholder="Enter country"
                          required
                        />
                      </div>
                      <div class="flex justify-end space-x-3">
                        <button
                          type="button"
                          class="inline-flex justify-center rounded-md border border-gray-300 px-4 py-2 text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                          onclick="closeModal()"
                        >
                          Cancel
                        </button>
                        <button
                          type="submit"
                          class="inline-flex justify-center rounded-md px-4 py-2 text-sm font-medium text-white bg-indigo-600 shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                        >
                          Submit
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-8 flow-root">
              <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div
                  class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
                >
                  <table
                    class="min-w-full divide-y divide-gray-300"
                    id="university-table"
                  >
                    <thead>
                      <tr>
                        <th
                          scope="col"
                          class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                        >
                          Name
                        </th>
                        <th
                          scope="col"
                          class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                        >
                          Country
                        </th>
                        <th
                          scope="col"
                          class="relative py-3.5 pl-3 pr-4 sm:pr-3"
                        >
                          <span class="sr-only">Edit</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="bg-white">
                      {{ range .universities }}
                      <tr class="even:bg-gray-50" data-id="{{ .Id }}">
                        <td
                          class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"
                        >
                          <span class="view-mode university-name"
                            >{{ .Name }}</span
                          >
                          <input
                            type="text"
                            class="edit-mode university-name-input hidden w-full rounded-md border border-gray-300 py-2 px-3 text-sm focus:border-indigo-500 focus:ring-indigo-500"
                            value="{{ .Name }}"
                          />
                        </td>
                        <td
                          class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                        >
                          <span class="view-mode university-country"
                            >{{ .Country }}</span
                          >
                          <input
                            type="text"
                            class="edit-mode university-country-input hidden w-full rounded-md border border-gray-300 py-2 px-3 text-sm focus:border-indigo-500 focus:ring-indigo-500"
                            value="{{ .Country }}"
                          />
                        </td>
                        <td
                          class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3"
                        >
                          <button
                            class="edit-university view-mode inline-flex items-center px-3 py-1.5 border border-transparent text-sm font-medium rounded-md text-indigo-600 bg-indigo-50 hover:bg-indigo-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                          >
                            Edit
                          </button>
                          <!-- New Delete Button -->
                          <a href="/admin-uni/deleteuni?id={{ .Id }}">
                            <button
                              class="delete-university view-mode ml-2 inline-flex items-center px-3 py-1.5 border border-transparent text-sm font-medium rounded-md text-red-600 bg-red-50 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                            >
                              Delete
                            </button>
                          </a>
                          <div class="edit-mode hidden">
                            <button
                              class="save-university inline-flex items-center px-3 py-1.5 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                            >
                              Save
                            </button>
                            <button
                              class="cancel-university ml-2 inline-flex items-center px-3 py-1.5 border border-transparent text-sm font-medium rounded-md text-indigo-600 bg-indigo-50 hover:bg-indigo-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                            >
                              Cancel
                            </button>
                          </div>
                        </td>
                      </tr>
                      {{ end }}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Degree -->
        <div class="mx-auto max-w-7xl px-4 py-2 sm:px-6 lg:px-8">
          <div class="px-4 sm:px-6 lg:px-8">
            <div class="sm:flex sm:items-center mt-2">
              <div class="sm:flex-auto">
                <h1 class="text-base font-semibold text-gray-900">
                  List of Degrees Offered
                </h1>
                <p class="mt-2 text-sm text-gray-700">
                  A list of all degrees offered by partner universities.
                </p>
              </div>
              <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
                <button
                  type="button"
                  class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                  id="addDegreeButton"
                >
                  Add Degree
                </button>
              </div>
            </div>

            <!-- Add Degree Modal -->
            <div
              id="addDegreeModal"
              class="fixed inset-0 z-50 hidden overflow-y-auto"
            >
              <div
                class="flex items-center justify-center min-h-screen px-4 text-center sm:block sm:p-0"
              >
                <div
                  class="fixed inset-0 transition-opacity"
                  aria-hidden="true"
                >
                  <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                </div>
                <span
                  class="hidden sm:inline-block sm:align-middle sm:h-screen"
                  aria-hidden="true"
                  >&#8203;</span
                >
                <div
                  class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-md w-full"
                >
                  <div class="bg-white px-6 py-5 sm:p-8">
                    <h3
                      class="text-xl font-bold text-gray-900 mb-6 text-center"
                      id="modal-title"
                    >
                      Add Degree
                    </h3>
                    <form id="addDegreeForm" action="/admin-uni" method="POST">
                      <input type="hidden" name="action" value="addDegree" />
                      <div class="mb-4">
                        <label
                          for="university"
                          class="block text-sm font-medium text-gray-700 mb-1"
                          >University Name</label
                        >
                        <select
                          id="university"
                          name="university"
                          class="block w-full rounded-md border border-gray-300 py-2 px-3 text-base text-gray-900 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                        >
                          <option value="">Select University</option>
                          {{ range .universities }}
                          <option value="{{ .Id }}">{{ .Name }}</option>
                          {{ end }}
                        </select>
                      </div>
                      <div class="mb-4">
                        <label
                          for="degreeName"
                          class="block text-sm font-medium text-gray-700 mb-1"
                          >Degree Name</label
                        >
                        <input
                          type="text"
                          id="degreeName"
                          name="degreeName"
                          class="mt-0 block w-full rounded-md border border-gray-300 py-2 px-3 focus:border-indigo-500 focus:ring-indigo-500 text-sm"
                          placeholder="Enter degree name"
                          required
                        />
                      </div>
                      <div class="mb-4">
                        <label
                          for="degreeDepartment"
                          class="block text-sm font-medium text-gray-700 mb-1"
                          >Department</label
                        >
                        <input
                          type="text"
                          id="degreeDepartment"
                          name="degreeDepartment"
                          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 focus:border-indigo-500 focus:ring-indigo-500 text-sm"
                          placeholder="Enter department"
                          required
                        />
                      </div>
                      <div class="mb-4">
                        <label
                          for="degreeDuration"
                          class="block text-sm font-medium text-gray-700 mb-1"
                          >Duration (Years)</label
                        >
                        <input
                          type="number"
                          id="degreeDuration"
                          name="degreeDuration"
                          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 focus:border-indigo-500 focus:ring-indigo-500 text-sm"
                          placeholder="Enter duration in years"
                          required
                        />
                      </div>
                      <div class="mb-4">
                        <label
                          for="degreeDescription"
                          class="block text-sm font-medium text-gray-700 mb-1"
                          >Description</label
                        >
                        <input
                          type="text"
                          id="degreeDescription"
                          name="degreeDescription"
                          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 focus:border-indigo-500 focus:ring-indigo-500 text-sm"
                          placeholder="Enter duration in years"
                          required
                        />
                      </div>
                      <div class="flex justify-end space-x-3">
                        <button
                          type="button"
                          class="inline-flex justify-center rounded-md border border-gray-300 px-4 py-2 text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                          onclick="closeModal()"
                        >
                          Cancel
                        </button>
                        <button
                          type="submit"
                          class="inline-flex justify-center rounded-md px-4 py-2 text-sm font-medium text-white bg-indigo-600 shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                        >
                          Submit
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="container mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
              {{ range $uni := .unidegrees }}
              <div class="bg-white shadow-md rounded-lg p-6 mb-6">
                <div
                  class="flex flex-col sm:flex-row sm:justify-between sm:items-center"
                >
                  <div class="mb-4 sm:mb-0">
                    <h2 class="text-xl font-bold text-blue-700">
                      Degrees Offered at
                      <span class="text-blue-900"
                        >{{ $uni.University.Name }}</span
                      >
                    </h2>
                  </div>
                </div>

                <div class="mt-6">
                  <div class="overflow-x-auto">
                    <table
                      class="min-w-full divide-y divide-gray-200"
                      data-uni-id="{{ $uni.University.Id }}"
                    >
                      <thead class="bg-gray-50">
                        <tr>
                          <th
                            scope="col"
                            class="px-6 py-3 text-left text-sm font-medium text-gray-700 uppercase tracking-wider"
                          >
                            Name
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-left text-sm font-medium text-gray-700 uppercase tracking-wider"
                          >
                            Department
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-left text-sm font-medium text-gray-700 uppercase tracking-wider"
                          >
                            Duration
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-left text-sm font-medium text-gray-700 uppercase tracking-wider"
                          >
                            Duration
                          </th>
                          <th scope="col" class="px-6 py-3 relative">
                            <span class="sr-only">Actions</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="bg-white divide-y divide-gray-200">
                        {{ range $deg := $uni.Degrees }}
                        <tr data-degree-id="{{ $deg.Id }}">
                          <td
                            class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
                          >
                            <span class="view-mode degree-name"
                              >{{ $deg.Name }}</span
                            >
                            <input
                              type="text"
                              class="edit-mode degree-name-input hidden w-full rounded-md border border-gray-300 py-2 px-3 text-sm focus:border-indigo-500 focus:ring-indigo-500"
                              value="{{ $deg.Name }}"
                            />
                          </td>
                          <td
                            class="px-6 py-4 whitespace-nowrap text-sm text-gray-600"
                          >
                            <span class="view-mode degree-department"
                              >{{ $deg.Department }}</span
                            >
                            <input
                              type="text"
                              class="edit-mode degree-department-input hidden w-full rounded-md border border-gray-300 py-2 px-3 text-sm focus:border-indigo-500 focus:ring-indigo-500"
                              value="{{ $deg.Department }}"
                            />
                          </td>
                          <td
                            class="px-6 py-4 whitespace-nowrap text-sm text-gray-600"
                          >
                            <span class="view-mode degree-duration"
                              >{{ $deg.Duration }} Years</span
                            >
                            <input
                              type="number"
                              class="edit-mode degree-duration-input hidden w-full rounded-md border border-gray-300 py-2 px-3 text-sm focus:border-indigo-500 focus:ring-indigo-500"
                              value="{{ $deg.Duration }}"
                            />
                          </td>
                          <td
                            class="px-6 py-4 whitespace-nowrap text-sm text-gray-600"
                          >
                            <span class="view-mode degree-duration"
                              >{{ $deg.Description }}</span
                            >
                            <input
                              type="number"
                              class="edit-mode degree-duration-input hidden w-full rounded-md border border-gray-300 py-2 px-3 text-sm focus:border-indigo-500 focus:ring-indigo-500"
                              value="{{ $deg.Duration }}"
                            />
                          </td>
                          <td
                            class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
                          >
                            <button
                              class="edit-degree view-mode inline-flex items-center px-3 py-1.5 border border-transparent text-sm font-medium rounded-md text-indigo-600 bg-indigo-50 hover:bg-indigo-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                            >
                              Edit
                            </button>
                            <!-- New Delete Button -->
                            <a href="/admin-uni/deletedeg?id={{ .Id }}">
                              <button
                                class="delete-degree view-mode ml-2 inline-flex items-center px-3 py-1.5 border border-transparent text-sm font-medium rounded-md text-red-600 bg-red-50 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                              >
                                Delete
                              </button>
                            </a>
                            <div class="edit-mode hidden">
                              <button
                                class="save-degree inline-flex items-center px-3 py-1.5 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                              >
                                Save
                              </button>
                              <button
                                class="cancel-degree ml-2 inline-flex items-center px-3 py-1.5 border border-transparent text-sm font-medium rounded-md text-indigo-600 bg-indigo-50 hover:bg-indigo-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                              >
                                Cancel
                              </button>
                            </div>
                          </td>
                        </tr>
                        {{ end }}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </main>
    </div>
    <script>
      // Function to close modals
      function closeModal() {
        if (
          !document
            .getElementById("addUniversityModal")
            .classList.contains("hidden")
        ) {
          document.getElementById("addUniversityModal").classList.add("hidden");
        }
        if (
          !document
            .getElementById("addDegreeModal")
            .classList.contains("hidden")
        ) {
          document.getElementById("addDegreeModal").classList.add("hidden");
        }
      }

      document
        .getElementById("addUniversityButton")
        .addEventListener("click", function () {
          document
            .getElementById("addUniversityModal")
            .classList.remove("hidden");
        });

      document
        .getElementById("addUniversityForm")
        .addEventListener("submit", function () {
          closeModal();
        });

      document
        .getElementById("addDegreeButton")
        .addEventListener("click", function () {
          document.getElementById("addDegreeModal").classList.remove("hidden");
        });

      document
        .getElementById("addDegreeForm")
        .addEventListener("submit", function () {
          closeModal();
        });

      // Profile dropdown
      document
        .getElementById("user-menu-button")
        .addEventListener("click", function (event) {
          event.stopPropagation();
          document.getElementById("user-menu").classList.toggle("hidden");
        });

      document.addEventListener("click", function (event) {
        const userMenu = document.getElementById("user-menu");
        const userMenuButton = document.getElementById("user-menu-button");
        if (
          !userMenu.contains(event.target) &&
          !userMenuButton.contains(event.target)
        ) {
          userMenu.classList.add("hidden");
        }
      });

      document.addEventListener("keydown", function (event) {
        if (event.key === "Escape") {
          document.getElementById("user-menu").classList.add("hidden");
        }
      });

      // Inline Editing Logic
      function switchToEditMode(row, isDegree = false) {
        row
          .querySelectorAll(".view-mode")
          .forEach((el) => el.classList.add("hidden"));
        row
          .querySelectorAll(".edit-mode")
          .forEach((el) => el.classList.remove("hidden"));
      }

      function switchToViewMode(row, isDegree = false) {
        row
          .querySelectorAll(".view-mode")
          .forEach((el) => el.classList.remove("hidden"));
        row
          .querySelectorAll(".edit-mode")
          .forEach((el) => el.classList.add("hidden"));
      }

      function revertChanges(row, isDegree = false) {
        if (!isDegree) {
          const nameSpan = row.querySelector(".university-name");
          const nameInput = row.querySelector(".university-name-input");
          nameInput.value = nameSpan.textContent;

          const countrySpan = row.querySelector(".university-country");
          const countryInput = row.querySelector(".university-country-input");
          countryInput.value = countrySpan.textContent;
        } else {
          const degNameSpan = row.querySelector(".degree-name");
          const degNameInput = row.querySelector(".degree-name-input");
          degNameInput.value = degNameSpan.textContent;

          const depSpan = row.querySelector(".degree-department");
          const depInput = row.querySelector(".degree-department-input");
          depInput.value = depSpan.textContent;

          const durSpan = row.querySelector(".degree-duration");
          const durInput = row.querySelector(".degree-duration-input");
          let durationVal = durSpan.textContent.replace(" Years", "").trim();
          durInput.value = durationVal;
        }
      }

      document.addEventListener("click", function (e) {
        // Edit University
        if (e.target.classList.contains("edit-university")) {
          e.preventDefault();
          const row = e.target.closest("tr");
          switchToEditMode(row, false);
        }

        // Cancel University
        if (e.target.classList.contains("cancel-university")) {
          e.preventDefault();
          const row = e.target.closest("tr");
          revertChanges(row, false);
          switchToViewMode(row, false);
        }

        // Save University
        if (e.target.classList.contains("save-university")) {
          e.preventDefault();
          const row = e.target.closest("tr");
          const nameInput = row.querySelector(".university-name-input");
          const countryInput = row.querySelector(".university-country-input");

          row.querySelector(".university-name").textContent = nameInput.value;
          row.querySelector(".university-country").textContent =
            countryInput.value;

          // Here add your AJAX call or form submission to update the server
          switchToViewMode(row, false);
        }

        // Edit Degree
        if (e.target.classList.contains("edit-degree")) {
          e.preventDefault();
          const row = e.target.closest("tr");
          switchToEditMode(row, true);
        }

        // Cancel Degree
        if (e.target.classList.contains("cancel-degree")) {
          e.preventDefault();
          const row = e.target.closest("tr");
          revertChanges(row, true);
          switchToViewMode(row, true);
        }

        // Save Degree
        if (e.target.classList.contains("save-degree")) {
          e.preventDefault();
          const row = e.target.closest("tr");
          const nameInput = row.querySelector(".degree-name-input");
          const depInput = row.querySelector(".degree-department-input");
          const durInput = row.querySelector(".degree-duration-input");

          row.querySelector(".degree-name").textContent = nameInput.value;
          row.querySelector(".degree-department").textContent = depInput.value;
          row.querySelector(".degree-duration").textContent =
            durInput.value + " Years";

          // Here add your AJAX call or form submission to update the server
          switchToViewMode(row, true);
        }

        // Delete University (You add your logic)
        if (e.target.classList.contains("delete-university")) {
          e.preventDefault();
          const row = e.target.closest("tr");
          // Add your delete logic here
          // e.g., AJAX to server, then remove row from DOM, etc.
        }

        // Delete Degree (You add your logic)
        if (e.target.classList.contains("delete-degree")) {
          e.preventDefault();
          const row = e.target.closest("tr");
          // Add your delete logic here
          // e.g., AJAX to server, then remove row from DOM, etc.
        }
      });
    </script>
  </body>
</html>
