<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
    <title>Online Application</title>
  </head>

  <body class="flex flex-col min-h-screen bg-gray-100">
    <!-- Header Section -->
    <header class="bg-white">
      <nav
        class="flex justify-between items-center max-w-7xl mx-auto px-6 py-5"
      >
        <!-- Logo and Title -->
        <div class="flex items-center space-x-3">
          <a href="/">
            <img
              src="https://i.ibb.co.com/2gLgWws/image.png"
              alt="Logo"
              class="h-16 w-auto"
            />
          </a>
          <!-- Vertical Divider Line -->
          <div class="border-l border-gray-300 h-8"></div>
          <!-- Enhanced Text -->
          <h1 class="text-3xl font-serif text-black">
            IF-DDRS | Online Application
          </h1>
        </div>
      </nav>
      <!-- Divider Line Below Header -->
      <div class="w-full border-t border-gray-300"></div>
    </header>

    <!-- Main Content -->
    <main class="flex-grow flex items-center justify-center p-6">
      <form class="w-full max-w-4xl bg-white p-8 rounded-lg shadow-lg">
        <div class="space-y-12">
          <!-- Account Section -->
          <div class="border-b border-gray-900/10 pb-4">
            <h1 class="text-xl font-semibold text-gray-900 mb-4">
              Create Account
            </h1>
            <hr />
            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <!-- Username -->
              <div class="sm:col-span-4">
                <label
                  for="username"
                  class="block text-sm font-medium text-gray-900"
                  >Username</label
                >
                <div class="mt-2">
                  <div
                    class="flex items-center rounded-md bg-white pl-3 outline outline-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:outline-indigo-600"
                  >
                    <input
                      type="text"
                      name="username"
                      id="username"
                      class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder-gray-400 focus:outline-none sm:text-sm"
                      placeholder=""
                    />
                  </div>
                </div>
                <!-- Password -->
                <div class="sm:col-span-4">
                  <label
                    for="username"
                    class="block text-sm font-medium text-gray-900 pt-4"
                    >Password</label
                  >
                  <div class="mt-2">
                    <div
                      class="flex items-center rounded-md bg-white pl-3 outline outline-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:outline-indigo-600"
                    >
                      <input
                        type="text"
                        name="username"
                        id="username"
                        class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder-gray-400 focus:outline-none sm:text-sm"
                        placeholder=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Personal Information Section -->
          <div class="border-b border-gray-900/10 pb- 12">
            <h1 class="text-xl font-semibold text-gray-900">
              Personal Information
            </h1>
            <p class="mt-1 text-sm text-gray-600 mb-4">
              Make sure that data are the same with one in your official
              documents.
            </p>
            <hr />
            <div class="mt-8 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <!-- First Name -->
              <div class="sm:col-span-3">
                <label
                  for="first-name"
                  class="block text-sm font-medium text-gray-900"
                  >First Name</label
                >
                <div class="mt-2">
                  <input
                    type="text"
                    name="first-name"
                    id="first-name"
                    autocomplete="given-name"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 focus:outline-none focus:outline-2 focus:outline-indigo-600 sm:text-sm"
                  />
                </div>
              </div>

              <!-- Last Name -->
              <div class="sm:col-span-3">
                <label
                  for="last-name"
                  class="block text-sm font-medium text-gray-900"
                  >Last Name</label
                >
                <div class="mt-2">
                  <input
                    type="text"
                    name="last-name"
                    id="last-name"
                    autocomplete="family-name"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 focus:outline-none focus:outline-2 focus:outline-indigo-600 sm:text-sm"
                  />
                </div>
              </div>

              <!-- Email Address -->
              <div class="sm:col-span-4">
                <label
                  for="email"
                  class="block text-sm font-medium text-gray-900"
                  >Email Address</label
                >
                <div class="mt-2">
                  <input
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 focus:outline-none focus:outline-2 focus:outline-indigo-600 sm:text-sm"
                  />
                </div>
              </div>

              <!-- Country -->
              <div class="sm:col-span-3">
                <label
                  for="country"
                  class="block text-sm font-medium text-gray-900"
                  >Country</label
                >
                <div class="mt-2 relative">
                  <select
                    id="country"
                    name="country"
                    autocomplete="country-name"
                    class="block w-full rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 outline-gray-300 focus:outline-none focus:outline-2 focus:outline-indigo-600 sm:text-sm"
                  >
                    <option>United States</option>
                    <option>Canada</option>
                    <option>Mexico</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- Univ. Application Information Section -->
          <div class="border-b border-gray-900/10 pb- 12">
            <h1 class="text-xl font-semibold text-gray-900">
              University Application
            </h1>
            <p class="mt-1 text-sm text-gray-600 mb-4">
              Choose your prefered plan for the Double Degree program.
            </p>
            <hr />
            <div class="mt-8 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <!-- First Name -->
              <div class="sm:col-span-3">
                <label
                  for="first-name"
                  class="block text-sm font-medium text-gray-900"
                  >First Name</label
                >
                <div class="mt-2">
                  <input
                    type="text"
                    name="first-name"
                    id="first-name"
                    autocomplete="given-name"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 focus:outline-none focus:outline-2 focus:outline-indigo-600 sm:text-sm"
                  />
                </div>
              </div>

              <!-- Last Name -->
              <div class="sm:col-span-3">
                <label
                  for="last-name"
                  class="block text-sm font-medium text-gray-900"
                  >Last Name</label
                >
                <div class="mt-2">
                  <input
                    type="text"
                    name="last-name"
                    id="last-name"
                    autocomplete="family-name"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 focus:outline-none focus:outline-2 focus:outline-indigo-600 sm:text-sm"
                  />
                </div>
              </div>

              <!-- Email Address -->
              <div class="sm:col-span-4">
                <label
                  for="email"
                  class="block text-sm font-medium text-gray-900"
                  >Email Address</label
                >
                <div class="mt-2">
                  <input
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 focus:outline-none focus:outline-2 focus:outline-indigo-600 sm:text-sm"
                  />
                </div>
              </div>

              <!-- Country -->
              <div class="sm:col-span-3">
                <label
                  for="country"
                  class="block text-sm font-medium text-gray-900"
                  >Country</label
                >
                <div class="mt-2 relative">
                  <select
                    id="country"
                    name="country"
                    autocomplete="country-name"
                    class="block w-full rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 outline-gray-300 focus:outline-none focus:outline-2 focus:outline-indigo-600 sm:text-sm"
                  >
                    <option>United States</option>
                    <option>Canada</option>
                    <option>Mexico</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Form Actions -->
        <div class="mt-6 flex items-center justify-end gap-x-6">
          <button type="button" class="text-sm font-semibold text-gray-900">
            Cancel
          </button>
          <button
            type="submit"
            class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-600"
          >
            Save
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
